* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
p {
    font-size: 11px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.55px;
}
h1,h2,h3,h4,h5 {
    font-family: 'Oswald',sans-serif;
}
/* -------------------------------- LAYOUT -------------------------------*/
#layout-web {
    overflow: hidden;
}
.layout-content {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
/* -------------------------------- HEADER ------------------------------ */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.wrap-header {
    background-color: #FFFFFF;
}
.header-content-top {
    padding: 11px 0;
    background-color:#1D1D1B;
    
}
.header-content-top p {
    color: #FFFFFF;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
}
.header-content-mid {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 12px 15px;
    box-sizing: border-box;
}
.header-content-mid .search {
    position: absolute;
    cursor: pointer;
}
.list-header-page ul li {
    display: inline-block;
    margin-left: 21px;
}
.user,.fav {
    width: 20px;
    height: 20px;
}
.btn-hamburger {
    padding: 9px 0;
}
.hamburger-item img {
    width: 21.5px;
    height: 17px;
}
.logo {
    cursor: pointer;
    height: 36px;
}
.menu {
    height: 36px;
    font-family: 'Oswald', sans-serif;
}
.list-menu {
    width: 100%;
    padding-top: 5px;
}
.list-menu ul {
    display: flex;
    justify-content: center;
}
.list-menu ul li {
    list-style: none;
    padding: 0 12.3px;
}
.list-menu ul li a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #1D1D1B;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 1.4px;
}
.list-menu ul li a:hover {
    color: #A0C519;
}
.list-menu ul li.drop-down a {
    font-weight: 600;
}
.list-header-page {
    padding-top: 9px;
}
.cart-img {
    display: flex;
}
.cart-payment {
    margin-left: 8px;
    color: #1D1D1B;
    font-size: 9px;
    font-weight: 300;
    padding: 4px 0;
    font-style: normal;
    line-height: 11px;
    padding-top: 6px;
}
/* --------------------------------- MAIN -------------------------------- */
main#main {
    margin-top: 95px;
    width: 100%;
    box-sizing: border-box;
}
.backbround-banner > p:hover {
    background: #A0C519;
}
.text-slide-banner {
    background-color: #A0C519;
    padding: 10px 0;
}
.text-slide-banner p {
    color: #FFF;
    font-family: "Oswald",sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    object-fit: cover;
    height: 40px;
}
.backbround-banner {
    position: relative;
    cursor: pointer;
}
.backbround-banner img {
    width: 100%;
    height: auto;
}
.shopping-content {
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    width: 100%;
}
.shopping-content h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 22.5px;
    font-size: 50px;
    line-height: 55px;
    padding-right: 50%;
}
.btn-product {
    display: flex;
    box-sizing: border-box;
}   
.btn-product button{
    background-color: #A0C519;
}
.btn-product p{
    color: #FFF;
    font-family: "Oswald",sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 7px 15px;
    border: 1px solid #A0C519;
    box-sizing: border-box;
}
span.prev {
    font-size: 0px;
    display: block;
    height: 35px;
    width: 35px;
    box-sizing: border-box;
}
span.prev::before {
    content: '';
    background: url('img/Group\ 2.svg') no-repeat center;
    width: 35px;
    height: 35px;
    background-color: #A0C519;
    color: #FFF;
    display: block;
    font-size: 0;
}
.prev-slide {
    display: flex;
    justify-content: space-between;
}
.shopping-slider {
    background: #1D1D1B;
}
.wraper-slider {
    padding: 32px 0 35px 0;
}
.title-slider h3 {
    color: #ffffff;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1.25px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom:2px ;
}
.title-slider h2 {
    color: #ffffff;
    opacity: 0.4989;    
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1px;

}
.item-slider {
    display: flex;
}
.list-hight-light {
    display: flex;
    justify-content: space-between;
    margin: 0 -7px;
}
.hg-item {
    box-sizing: border-box;
    padding-left: 7px;
    padding-right: 7px;
    flex: 0 0 25%;
}
.hg-item img {
    width: 100%;
}
.list-slider {
    margin: 0 -15px;
    padding: 0 15px;
}
.layout-section-5 {
    display: flex;
}
.layout-section-5 .bg-img {
    flex: 1;
}
.layout-section-5 .content {
    flex: 1;
}
.express-content {
    background: #1D1D1B;
}
.exp-item {
    color: #FFFFFF;
}
.exp-item span {
    display: block;
}
.wrap-express {
    display: flex;
    justify-content: center;
    padding: 35px 0;
}
.wrap-express .exp-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.desc-col-1-bottom {
    background-color: #A0C519;
}
.text-item-ft {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}
.slider-banner-mobile .owl-dots {
    position: absolute;
    z-index: 10;
    right: 34.5px;
    bottom: 28px;
}
.backbround-banner .slider-banner-mobile .owl-dots .owl-dot span {
    margin: 0 3px;
    width: 6px;
    height: 6px;
}
.backbround-banner .slider-banner-desktop .owl-dots .owl-dot span {
    margin: 0 3px;
    width: 6px;
    height: 6px;
    /* background-color: #1d1d1b !important; */
}

.slider-banner-desktop .owl-dots {
    position: absolute;
    z-index: 10;
    right: 50% ;
    bottom: 42.5px;
}
.btn-product p:hover {
    background-color: #A0C519;
}
.content .btn-product.sec-5 p{
    color: #1D1D1B;
}
.content .btn-product.sec-5 p:hover{
    color: #ffffff;
} 
@keyframes Move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.text-slide-banner p{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-name: Move;
    animation-iteration-count: infinite;
}
.prev-slide h2 {
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
}
.prev-slide span {
    font-family: "Oswald",sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: right;
    display: block;
    display: flex;
    cursor: pointer;
}
.prev-slide span::after {
    content: url('img/Group\ 2.svg');
    width: 20px;
    height: 19px;
    display: block;
    margin-left: 10px;
    padding-top: 1px;
}
.title-item {
    padding: 0 20px 37px 20px;
}
.title-main {
    padding: 37.75px 15px;
}
.title-categorie h3{
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 34px;
}
.text-content p {
    font-family: "Oswald",sans-serif;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 600;
}
.text-content p span {
    font-family: "Inter",sans-serif;
    font-size: 11px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 4px;
}
/* slider */
/* -------------------------------- FOOTER ------------------------------- */
.layout-item-ft {
    display: flex;
    justify-content: space-between;
}
.layout-item-ft-2 {
    display: flex;
    justify-content: space-between;
}
.right-col-2 ul li {
    display: inline-block;
}
.item-ft-col-1 {
    border-bottom: 1px solid #EEEEEE;
}
.slider-banner-mobile {
    position: relative;
}
.desc-item {
    padding-top: 15px;
}
.desc-item p {
    font-family: "Oswald",sans-serif;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1.384615421295166px;
    text-align: left;
    font-weight: 600;
}
.desc-item p::after {
    content: url('img/Group\ 2.svg');
    margin-left: 13px;
}
.main-content-4 {
    padding-bottom: 42px;
}
.categorie-content .list-categorie .owl-dots {
    margin-top: 23px !important;
}
.categorie-content .list-categorie .owl-dots .owl-dot span {
    width: 6px;
    height: 6px;
    margin: 0 7px;
}
.categorie-content .list-categorie .owl-dots .owl-dot.active span {
    width: 60px;
    /* height: 6px; */
    /* margin-bottom: 2px; */
}
.content h2 {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0px;
    margin-bottom: 16px;
}
.content p.text-css {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-bottom: 26px;
}
.main-content-5 {
    padding-bottom: 86px;
}
.main-content-6 {
    background-color: #EEEEEE;
}
.wrap-content {
    padding-left: 70px;
}
.wrap-content-6 {
    padding: 61px 15px;
}
.wrap-content-6 h2 {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.wrap-content-6 a.links {
    font-family: "Inter",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #1D1D1B;
}
.wrap-content-6 p {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
}
.wrap-content-6 p b {
    font-weight: 600;
}
.main-content-3 {
    padding-bottom: 30px;
}
.text-item-ft h1{
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
}
.text-item-ft .btn-product p{
    border: 1px solid #1D1D1B;
    background-color: #FFFFFF;
    color: #1D1D1B;
}
.text-item-ft .btn-product span.prev::before {
    background-color: #1D1D1B;
}
.wraper-desc-ft-bottom {
    padding: 42.5px 0;
}
.wrap-slider-footer .title h2{
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.wrap-slider-footer .title {
    padding: 17.5px 0;
}
.wrap-content-bottom-1 {
    border-bottom:1px solid #EEEEEE ;
}
/* --------------------------------- RESPONSIVE --------------------------- */

@media (max-width: 480px) {
    .shopping-content h1 {
        padding-right: 0;
    }
}
@media (min-width: 481px) and (max-width: 766px) {

}
@media (max-width: 767px) {
    .logo {
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
    }
    .menu {
        display: none;
    }
    .search {
        top: 20px;
        left: 51px;
    }
    li.user {
        display: none !important;
    }
    img.desktop {
        display: none;
    }
    .main-content-3 {
        padding-bottom: 42px;
    }
    .list-hight-light {
        flex-wrap: wrap;
    }
    .hg-item {
        flex-basis: 50%;
    }
    .hg-item:nth-child(-n+2) {
        padding: 48px 7px;
    }
    .layout-section-5 {
        flex-direction: column;
    }
    .categorie-content {
        padding-left: 15px;
    }
    /* footer */
    .layout-item-ft {
        flex-direction: column;
        border-bottom: 1px solid #EEEEEE;
    }
    .slider-banner-desktop {
        display: none !important;
    }
    .shopping-content {
        bottom: 66px;
        left: 0; 
    }
    .shopping-content h1 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 15.5px;
        padding-right: 10%;
    }
    .bg-img img {
        width: 100%;
    }
    .layout-content-mobile {
        padding: 0 20px;
    }
    .wrap-content-6 {
        padding: 30px 0;
    }
    .wrap-content-6 h2 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 16px;
    }
    .wrap-content-6 p {
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-align: left;
        margin-bottom: 6px;
    }
    .wrap-content-6 p b {
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
    .wrap-express {
        flex-wrap: wrap;
    }
    .exp-item {
        width: 50%;
    }
    .content h2 {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 1.384615421295166px;
        text-align: left;
        margin-bottom: 16px;
        margin-top: 23px;
    }
    .content p.text-css {
        padding-bottom: 16px;   
    }
    .main-content-5 {
        padding-bottom: 33px;
    }
    .title-categorie h3 {
        margin-bottom: 28px;
    }
    .exp-item:nth-child(-n+2) {
        padding-bottom: 26px;
    }
    .text-item-ft {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .text-item-ft h1 {
        margin-bottom: 20px;
    }
}
@media (min-width: 768px) and (max-width: 1123px) {
    .btn-hamburger {
        display: none;
    }
    .search {
        right: 200px;
        top: 21px;
    }
    img.mobile {
        display: none;
    }
    .slider-banner-mobile {
        display: none !important;
    }
    .shopping-content {
        bottom: 110px;
        left: 0;
    }
    .main-content-3 {
        padding-top: 50px;
    }
    .wrap-express .exp-item {
        margin: 0 25px;
    }
}
@media (max-width: 860px) {
    .menu {
        display: none;
    }
    .slider-banner-desktop {
        display: none !important;
    }
    .slider-banner-mobile {
        display: block !important;
    }
}
@media (min-width: 1124px) {
    .search {
        right: 90px;
    }
    .btn-hamburger {
        display: none;
    }
    .search {
        right: 200px;
        top: 21px;
    }
    .slider-banner-mobile {
        display: none !important;
    }
    img.mobile {
        display: none;
    }
    .shopping-content {
        bottom: 110px;
        left: 0;
    }
    .shopping-content h1 {
        margin-bottom: 22.5px;
        font-size: 50px;
        line-height: 55px;
    }
    .title-main {
        padding: 56px 0 42px 0;
    }
    .main-content-3 {
        padding-top: 80px;
    }
    .layout-section-5 .bg-img {
        width: 673px;
        flex: none;
    }
    .layout-section-5 .content {
        flex: 1;
        padding-top: 164px;
    }
    .wrap-express {
        padding: 23px 0;
    }
    .wrap-express .exp-item {
        margin: 0 25px;
    }
    .text-item-ft .btn-product {
        margin-left: 40px;
    }
    .wrap-slider-footer .title h2{
        text-align: center;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.5px;
    }
}