* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.5px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
p {
    font-size: 11px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.55px;
}
h1,h2,h3,h4,h5 {
    font-family: 'Oswald',sans-serif;
}
/* -------------------------------- LAYOUT -------------------------------*/
#layout-web {
    overflow: hidden;
}
.layout-content {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
/* -------------------------------- HEADER ------------------------------ */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.wrap-header {
    background-color: #FFFFFF;
}
.header-content-top {
    padding: 11px 0;
    background-color:#1D1D1B;
    
}
.header-content-top p {
    color: #FFFFFF;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
}
.header-content-mid {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 12px 15px;
    box-sizing: border-box;
}
.header-content-mid .search {
    position: absolute;
    cursor: pointer;
}
.list-header-page ul li {
    display: inline-block;
    margin-left: 21px;
}
.user,.fav {
    width: 20px;
    height: 20px;
}
.btn-hamburger {
    padding: 9px 0;
}
.hamburger-item img {
    width: 21.5px;
    height: 17px;
}
.logo {
    cursor: pointer;
    height: 36px;
}
.menu {
    height: 36px;
    font-family: 'Oswald', sans-serif;
}
.list-menu {
    width: 100%;
    padding-top: 5px;
}
.list-menu ul {
    display: flex;
    justify-content: center;
}
.list-menu ul li {
    list-style: none;
    padding: 0 12.3px;
}
.list-menu ul li a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #1D1D1B;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 1.4px;
}
.list-menu ul li a:hover {
    color: #A0C519;
}
.list-menu ul li.drop-down a {
    font-weight: 600;
}
.list-header-page {
    padding-top: 9px;
}
.cart-img {
    display: flex;
}
.cart-payment {
    margin-left: 8px;
    color: #1D1D1B;
    font-size: 9px;
    font-weight: 300;
    padding: 4px 0;
    font-style: normal;
    line-height: 11px;
    padding-top: 6px;
}
/* --------------------------------- MAIN -------------------------------- */
main#main {
    margin-top: 95px;
    width: 100%;
    box-sizing: border-box;
}
.wrap-shopping-content {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.backbround-banner > p:hover {
    background: #A0C519;
}
.text-slide-banner {
    background-color: #A0C519;
    padding: 9px 0;
}
.text-slide-banner p {
    color: #FFF;
    font-family: "Oswald",sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    object-fit: cover;
    white-space: nowrap;
}
.backbround-banner {
    position: relative;
    cursor: pointer;
}
.backbround-banner img {
    width: 100%;
    height: auto;
}
.shopping-content {
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    width: 100%;
}
.shopping-content h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 22.5px;
    font-size: 50px;
    line-height: 55px;
    padding-right: 50%;
}
.btn-product {
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
}   
.btn-product button{
    background-color: #A0C519;
}
.btn-product p {
    color: #FFF;
    font-family: "Oswald",sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid #A0C519;
    box-sizing: border-box;
    padding: 6px 14px;
}
.btn-language {
    display: flex;
}
.btn-language select::after {
    background-color: #A0C519;
    width: 30px;
    height: 30px;
}
.btn-language select {
    border: none;
    background: transparent;
}
span.icon-ital::before {
    display: block;
}
span.icon-ital::before {
    content: url('img/itali-icon.svg');
    width: 30px;
    display: block;
    font-size: 0;
}
span.prev {
    font-size: 0px;
    display: block;
    height: 35px;
    width: 35px;
    box-sizing: border-box;
}
span.prev::before {
    content: '';
    background: url('img/Group\ 2.svg') no-repeat center;
    width: 35px;
    height: 35px;
    background-color: #A0C519;
    color: #FFF;
    display: block;
    font-size: 0;
}
.prev-slide {
    display: flex;
    justify-content: space-between;
}
.shopping-slider {
    background: #1D1D1B;
}
.title-slider h3 {
    color: #ffffff;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1.25px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom:2px ;
}
.title-slider h2 {
    color: #ffffff;
    opacity: 0.4989;    
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 600;
}
.item-slider {
    display: flex;
}
.list-hight-light {
    display: flex;
    justify-content: space-between;
    margin: 0 -7px;
}
.hg-item {
    box-sizing: border-box;
    padding-left: 7px;
    padding-right: 7px;
    flex: 0 0 25%;
    position: relative;
    cursor: pointer;
}
.hg-item img {
    width: 100%;
}
.hg-item .arrow-product {
    right: 32px;
    bottom: -17px;
}
.list-slider {
    margin: 0 -15px;
    padding: 0 15px;
}
.layout-section-5 {
    display: flex;
}
.layout-section-5 .bg-img {
    flex: 1;
}
.layout-section-5 .content {
    flex: 1;
}
.express-content {
    background: #1D1D1B;
}
.exp-item {
    color: #FFFFFF;
}
.exp-item span {
    display: block;
}
.wrap-express {
    display: flex;
    justify-content: center;
}
.wrap-express .exp-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.desc-col-1-bottom {
    background-color: #A0C519;
}
.text-item-ft {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}
.slider-banner-mobile .owl-dots {
    position: absolute;
    z-index: 10;
    right: 34.5px;
    bottom: 28px;
}
.backbround-banner .slider-banner-mobile .owl-dots .owl-dot span {
    margin: 0 3px;
    width: 6px;
    height: 6px;
}
.backbround-banner .slider-banner-desktop .owl-dots .owl-dot span {
    margin: 0 3px;
    width: 6px;
    height: 6px;
    /* background-color: #1d1d1b !important; */
}

.slider-banner-desktop .owl-dots {
    position: absolute;
    z-index: 10;
    right: 50% ;
    bottom: 42.5px;
}
.btn-product p:hover {
    background-color: #A0C519;
}
.content .btn-product.sec-5 p{
    color: #1D1D1B;
}
.content .btn-product.sec-5 p:hover{
    color: #ffffff;
}
.content-language {
    display: flex;
    justify-content: start;
    align-items: center;
}
.content-language img {
    display: block;
}
@keyframes Move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.text-slide-banner p{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-name: Move;
    animation-iteration-count: infinite;
}
.prev-slide h2 {
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
}
.prev-slide span {
    font-family: "Oswald",sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: right;
    display: block;
    display: flex;
    cursor: pointer;
}
.prev-slide span::after {
    content: url('img/Group\ 2.svg');
    width: 20px;
    height: 19px;
    display: block;
    margin-left: 10px;
    padding-top: 1px;
}
.title-item {
    padding: 0 20px 37px 20px;
}
.title-categorie {
    margin-bottom: 31.67px;
}
.title-categorie h3{
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}

.text-content {
    padding-top: 11.5px;
}
.text-content p {
    font-family: "Oswald",sans-serif;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.text-content p span {
    font-family: "Inter",sans-serif;
    font-size: 11px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
}
.exp-item img {
    height: 21px;
}
/* slider */




/* -------------------------------- FOOTER ------------------------------- */
.layout-item-ft {
    display: flex;
    justify-content: space-between;
}
.layout-item-ft-2 {
    display: flex;
    justify-content: space-between;
}
.right-col-2 ul {
    display: flex;
    align-items: center;
}
.right-col-2 ul li {
    padding: 0 10.5px;
    list-style: none;
}
.item-ft-col-1 {
    border-bottom: 1px solid #EEEEEE;
}
.wrap-content-bottom-2 {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

.facebook-icon {
    width: 31px;
    height: 31px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 8px;
    border-radius: 15px;
    margin-right: 15px;
}
.instagram-icon {
    width: 31px;
    height: 31px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 7px;
    border-radius: 15px;
}
.slider-banner-mobile {
    position: relative;
}
.desc-item {
    padding-top: 23.65px;
}
.desc-item p {
    font-family: "Oswald",sans-serif;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1.384615421295166px;
    text-align: left;
    font-weight: 600;
}
.desc-item p::after {
    content: url('img/Group\ 2.svg');
    margin-left: 13px;
}
.main-content-4 {
    padding-top: 3px;
    padding-bottom: 80px;
}
.cat-content-desktop .list-categorie .owl-nav {
    position: absolute;
    z-index: 10;
    top: -69px;
    right: 0;
    margin-top: 0px;
}
.cat-content-desktop .list-categorie .owl-nav button {
    width: 35px;
    height: 35px;
    border: 1px solid #1D1D1B !important;
    border-radius: 20px;
    margin: 0 0 0 0;
    font-size: 0px !important;
}
.cat-content-desktop .list-categorie .owl-nav button.owl-prev::after {
    content: url('img/Group\ 2.svg');
    display: block;
    transform: rotate(180deg);
}
.cat-content-desktop .list-categorie .owl-nav button.owl-next::after {
    content: url('img/Group\ 2.svg');
    display: block;
}
.cat-content-desktop .list-categorie .owl-nav button.owl-next {
    margin-left: 11px;
}
.content h2 {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0px;
    margin-bottom: 16px;
}
.content p.text-css {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-bottom: 26px;
}
.main-content-5 {
    padding-bottom: 86px;
}
.main-content-6 {
    background-color: #EEEEEE;
}
.wrap-content-6 {
    padding: 61px 15px;
}
.wrap-content-6 h2 {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 24px;
}
.wrap-content-6 a.links {
    font-family: "Inter",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #1D1D1B;
}
.wrap-content-6 p {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 25px;
}
.wrap-content-6 p b {
    font-weight: 600;
}
.option-btn {
    display: flex;
}
p.option-btn {
    margin-left: 5.5px;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.36666667461395264px;
    text-align: left;

}
p.option-btn::after {
    content: url('img/drop-down.svg');
    display: block;
    padding-left: 33px;
}
.text-item-ft h1{
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
}
.text-item-ft .btn-product p{
    border: 1px solid #1D1D1B;
    background-color: #FFFFFF;
    color: #1D1D1B;
}
.text-item-ft .btn-product span.prev::before {
    background-color: #1D1D1B;
}
.wraper-desc-ft-bottom {
    padding: 40px 0;
}
.wrap-slider-footer .title h2{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
}
.wrap-slider-footer .title {
    padding: 17.5px 0;
}
.item-ft-col-1 h4 {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.img-item-ft img {
    width: 40px;
    height: 40px;
}
section.right-col-1 {
    padding-top: 3px;
}
.icon-footer {
    display: flex;
    justify-content: end;
}
.right-col-1 p {
    font-family: "Oswald",sans-serif;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.42307692766189575px;
    text-align: left;
    margin-right: 5px;
    font-weight: 600;
}
.item-ft-col-2 h4 {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    text-transform: uppercase;
}
.item-ft-col-2 ul li{
    list-style: none;
}
.item-ft-col-2.item {

}
.item-ft-col-2 ul li a {
    text-decoration: none;
    color: #1D1D1B;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.4615384638309479px;
    text-align: left;

}
.right-col-2 p {
    font-size: 10px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.38461539149284363px;
    text-align: right;
    margin-top: 8px;
}
.layout-left h6 {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6000000238418579px;
    text-align: left;
}
.layout-left p {
    font-size: 11px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}
.content-js {
    display: none;
}
a.btn-open {
    text-decoration: underline;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

}
.list-slider .item {
    position: relative;
    margin-bottom: 18px;
    cursor: pointer;
}
.list-slider .text-content {
    position: absolute;
    bottom: 35px;
    left: 46px;
}
.list-slider .text-content h1 {
    font-size: 45px;
    line-height: 53px;
    letter-spacing: 2px;
    text-align: left;
    color: #FFF;
}
.arrow-product {
    position: absolute;
    right: 0;
    bottom: 0;
}
.arrow-product {
    font-size: 0;
    width: 35px;
    height: 35px;
    background: #A0C519;
}
.arrow-product span::after {
    content: url('img/Group\ 2.svg');
    padding-left: 5px;
    padding-left: 7px;
    height: 35px;
    background: #A0C519;
    display: flex;
    align-items: center;
}
.item .arrow-product {
    bottom: -18px;
    right: 25px;
}
.title-main.layout-content {
    display: none;
}
/* --------------------------------- RESPONSIVE --------------------------- */

@media (max-width: 480px) {
    .shopping-content h1 {
        padding-right: 0;
    }
}
@media (min-width: 481px) and (max-width: 766px) {

}
@media (max-width: 767px) {
    .logo {
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
    }
    .menu {
        display: none;
    }
    .search {
        top: 20px;
        left: 51px;
    }
    li.user {
        display: none !important;
    }
    img.desktop {
        display: none;
    }
    .main-content-3 {
        padding-bottom: 60px;
    }
    .list-hight-light {
        flex-wrap: wrap;
    }
    .hg-item {
        flex-basis: 50%;
    }
    .hg-item:nth-child(-n+2) {
        margin: 48px 0px;
    }
    .layout-section-5 {
        flex-direction: column;
    }
    /* footer */
    .layout-item-ft {
        flex-direction: column;
        border-bottom: 1px solid #EEEEEE;
    }
    .slider-banner-desktop {
        display: none !important;
    }
    .shopping-content {
        bottom: 66px;
        left: 0; 
    }
    .shopping-content h1 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 15.5px;
        padding-right: 10%;
    }
    .bg-img img {
        width: 100%;
    }
    .wrap-content-6 {
        padding: 30px 20px;
    }
    .wrap-content-6 h2 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 16px;
    }
    .wrap-content-6 p {
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-align: left;
        margin-bottom: 6px;
    }
    .wrap-content-6 p b {
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
    .wrap-express {
        flex-wrap: wrap;
        padding: 23px 0;
    }
    .exp-item {
        width: 50%;
    }
    .content h2 {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 1.384615421295166px;
        text-align: left;
        margin-bottom: 16px;
        margin-top: 23px;
    }
    .content p.text-css {
        padding-bottom: 16px;   
    }
    .main-content-5 {
        padding-bottom: 33px;
    }
    .title-categorie h3 {
        margin-bottom: 28px;
    }
    .exp-item:nth-child(-n+2) {
        padding-bottom: 26px;
    }
    .text-item-ft {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .text-item-ft h1 {
        margin-bottom: 20px;
    }
    /* wrapper dots */
    .wraper-slider .list-slider .owl-dots {
        display: flex;
        margin-top: 55px !important;
    }
    .wraper-slider .list-slider .owl-dots .owl-dot {
        width: 100%;
    }
    .wraper-slider .list-slider .owl-dots .owl-dot span {
        height: 3px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    /* categories dots */
    .categorie-content .list-categorie .owl-dots {
        display: flex;
        margin-top: 24px !important;
        padding: 0 20px;
    }
    .categorie-content .list-categorie .owl-dots .owl-dot {
        width: 100%;
    }
    .categorie-content .list-categorie .owl-dots .owl-dot span {
        background: #EEEEEE;
        height: 3px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    .categorie-content .list-categorie .owl-dots .owl-dot.active span {
        background-color: #1D1D1B;
    }
    /* ----------------- */
    .desc-item {
        padding-top: 15px;
    }
    .main-content-4 {
        padding-top: 3px;
        padding-bottom: 42px;
    }
    .layout-content-mobile {
        padding: 0 20px;
    }
    .wraper-slider {
        padding: 32px 0 35px 0;
    }
    .wrap-content-bottom-1 {
        padding-top: 18px;
    }
    .item-ft-col-1 {
        padding-bottom: 16px;
    }
    .wrap-list-item-col-2 {
        padding: 18px 0 0 0;
    }
    .item-ft-col-2 {
        padding-bottom: 12.5px;
    }
    .item-ft-col-2 h4 {
        margin-bottom: 3px;
        display: flex;
        justify-content: space-between;
    }
    .item-ft-col-2 h4::after {
        width: 20px;
        content: url('img/hide.svg');
        cursor: pointer;
    }
    .layout-item-ft-2 {
        flex-direction: column-reverse;
    }
    .layout-left {
        padding: 16px 0;
    }
    .layout-right {
        border-bottom: 1px solid #EEEEEE;
        padding: 68px 0 19.5px 0;
    }
    .layout-item-col-1-mobile {
        padding: 0 20px;
    }
    .wrap-mobile {
        padding: 0 5px;
    }
    .right-col-2 p {
        text-align: left;
    }
    .right-col-2 ul {
        margin-left: -10px;
    }
    .icon-footer {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .item-ft-col-2.item {
        padding-top: 18px;
    }
    .wrap-laguage {
        max-width: 1140px;
        margin: 0 auto;
        padding: 10px 20px 27px 20px;
    }
    .leaguage {
        border-top: 1px solid #EEEEEE;
    }
    .item-ft-col-1 h4 {
        display: flex;
        justify-content: space-between;
    }
    .item-ft-col-1 h4::after {
        width: 20px;
        content: url('img/links-icon.svg');
        cursor: pointer;
    }
    .item-ft-col-2 ul {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1123px) {
    .btn-hamburger {
        display: none;
    }
    .search {
        right: 200px;
        top: 21px;
    }
    img.mobile {
        display: none;
    }
    .slider-banner-mobile {
        display: none !important;
    }
    .shopping-content {
        bottom: 110px;
        left: 0;
    }
    .main-content-3 {
        padding-top: 50px;
    }
    .wrap-express .exp-item {
        margin: 0 25px;
    }
    .title-main {
        padding-top: 54px;
        padding-bottom: 71px;
    }
    .wraper-slider {
        padding: 32px 0 70px 0;
    }
    .categorie-content .list-categorie .owl-stage-outer {
        overflow: initial;
    }
    .layout-section-5 .wrap-content {
        padding: 0 20px;
    }
}
@media (max-width: 860px) {
    .menu {
        display: none;
    }
    .slider-banner-desktop {
        display: none !important;
    }
    .slider-banner-mobile {
        display: block !important;
    }
}
@media (min-width: 1124px) {
    .search {
        right: 90px;
    }
    .btn-hamburger {
        display: none;
    }
    .search {
        right: 200px;
        top: 21px;
    }
    .slider-banner-mobile {
        display: none !important;
    }
    img.mobile {
        display: none;
    }
    .shopping-content {
        bottom: 110px;
        left: 0;
    }
    .shopping-content h1 {
        margin-bottom: 22.5px;
        font-size: 50px;
        line-height: 55px;
    }
    .title-main {
        padding-top: 54px;
        padding-bottom: 71px;
    }
    .main-content-3 {
        padding-top: 80px;
        padding-bottom: 85px;
    }
    .layout-section-5 .bg-img {
        width: 673px;
        flex: none;
    }
    .layout-section-5 .content {
        flex: 1;
        padding-top: 164px;
    }
    .wrap-express {
        padding: 35.75px 0;
    }
    .wrap-express .exp-item {
        margin: 0 25px;
    }
    .text-item-ft .btn-product {
        margin-left: 40px;
    }
    .wrap-slider-footer .title h2{
        text-align: center;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.5px;
    }
    .title-main .prev-slide{
        padding: 0 20px;
    }
    .wraper-slider {
        padding: 32px 0 70px 0;
    }
    .categorie-content .list-categorie .owl-stage-outer {
        overflow: initial;
    }
    .title-categorie {
        padding: 0 20px;
    }
    .layout-content-4 {
        padding-bottom: 31.5px;
    }
    .layout-section-5 .wrap-content {
        padding-left: 70px;
    }
    .wrap-content-bottom-1 {
        border-bottom:1px solid #EEEEEE;
        padding: 32px 0 30px 0;
    }
    .item-ft-col-2 h4 {
        margin-bottom: 6px;
    }
    .layout-right .wrap-mobile {
        display: flex;
    }
    .wrap-list-item-col-2 {
        display: flex;
        width: 76.5px;
    }
    .wrap-content-bottom-2 {
        padding: 24.5px 0 18px 0;
    }
    .layout-item-ft {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .layout-icon-footer-bottom {
        position: absolute;
        right: 0;
        top: -185px;
    }
    .leaguage {
        margin-top: 101px;
    }
}