* {
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
}
img {
    width: 100%;
}
li {
    list-style: none;
}
.wrapper {
    padding-top: 100px;
}
a:hover {
    color: #ea006f;
}
header.layout {
    position: fixed;
    top: 0;
    height: 91px;
    z-index: 1;
    background: #fff;
    width: 100%;
}
.header-bottom-content {
    display: flex;
    justify-content: space-between;
}
.header-top {
    height: 28px;
    color: white;
    box-sizing: border-box;
    line-height: 28px;
    font-family: Roboto;
    font-size: 11px;
    background: #2b2e34;
    text-align: center;
}
.header-top span {
    text-decoration: underline;
}
.header-bottom {
    height: 63px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.flex-col-1 {
    float: left;
}
.flex-col-2 {
    float: right;
}
.logo {
    padding-top: 18px;
}
.logo a.absolute {
    right: 0;
    top: 32px;
}
.nav-bar {
    padding-top: 20px;
    padding-left: 60px;
}
.nav-bar a {
    text-align: center;
    display: block;
    width: 70px;
    font-family: 'Roboto', sans-serif;
    color: #2b2e34;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}
.nav-bar a:focus {
    border-bottom: 2px solid #ea006f;
}
.nav-bar ul li {
    display: inline-block;
    width: 70px;
    padding-right: 35px;
}
ul.menu-mb {
    display: flex;
    height: 33px;
    text-align: center;
}
ul.menu-mb li {
    width: 33.333%;
    display: inline-block;
}
ul.menu-mb li a {
    text-decoration: none;
    color: #2b2e34;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}
.nav-bar-menu-mb {
    display: none;
    border-top: 2px solid #ebebeb;
    height: 33px;
    box-sizing: border-box;
    background: #fff;
}
.search-bar {
    margin-top: 12px;
}
.search-bar input[type='search'] {
    width: 359px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background: #f8f7f7;
    padding: 0px 17px 0 18px;
    outline: none;
}
img.search-logo{
    height: 20px;
    width: 20px;
    top: 10px;
    right: 17px;
}
.icon-bar ul li {
    height: 20px;
    display: inline-block;
    padding-left: 26px;
}
.icon-bar {
    margin-top: 21px;
}
.icon-bar ul li a {
    color: #2b2e34;
    display: block;
}
.icon-bar ul li a img {
    width: 20px;
    height: 20px;
}
.banner-content {
    justify-content: center;
    margin: 0 -7px;
}

.box {
    position: relative;
    margin: 0 7px 14px 7px;
}
.box img {
    width: 100%;
    height: auto;
}
.box-content {
    width: 100%;
    position: absolute;
    bottom: 33px;
    color: #fff;
    text-align: center;
    font-style: normal;
    line-height: normal;
}
.box-content h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.box-content a {
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto';
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(180deg, rgba(43, 46, 52, 0) 40%, #2b2e34 100%);
}
.introduce {
    padding-bottom: 37px;
}
.overview-content {
    color: #2b2e34;
    text-align: center;
    padding: 26px 0 50px 0;
}
.overview-content .title {
    font-family: 'Montserrat';
}
h1.title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.6px;
    margin-bottom: 10px;
}
h3.title {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 10px;
}
.overview-content a {
    color: #2b2e34;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.3px;
}
.overview-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
}
.overview-content .text p {
    width: 83%;
    margin: 0 auto;
    padding-bottom: 10px;
}
/* footer */
.banner-footer .title-banner {
    bottom: 0;
    right: 0;
}
.title-banner {
    text-align: end;
}
.title-banner h1 {
    color: #2b2e34;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.5px;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}
.title-banner span {
    color: #ea006f;
    font-weight: 700;
}
.title-banner p {
    color: #2b2e34;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 5px 0 11px 0;
}
.title-banner button {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    width: 146px;
    height: 42px;
    border-radius: 15px;
    background: #2B2E34;
}
.categories {
    width: 100%;
}
.layout-newProduct {
    margin: 0 -7px;
}
.product-item img {
    border-radius: 20px;
}
button.button-layout{
    width: 146px;
    height: 42px;
    border: none;
    background-color: #2b2e34;
    color: #fff;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}
.footer_layout {
    background: #f8f7f7;
    overflow: hidden;
}
p.title-footer {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    padding-bottom: 5px;
}
li.list-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.9px;
    text-transform: uppercase;
    font-family: 'Roboto';
    padding-bottom: 3px;
}
.list-payment {
    margin-top: 19px;
}
.list-payment ul {
    padding-right: 13px;
    width: 218px;
}
.list-payment ul li a {
    text-decoration: none;
    color: #2b2e34;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 214.286% */
    letter-spacing: 0.3px;
}

.img-ft img {
    width: 115.135px;
    height: 60px;
}
.copyright {
    padding-top: 80px;
}
.copyright p {
    color: #2b2e34;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 200% */
    letter-spacing: 0.236px;
}
.wrap-footer {
    margin: 0 auto;
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.between {
    justify-content: space-between;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.banner-footer {
    overflow: hidden;
}
.grid-layout {
    padding: 0;
    align-items: flex-start;
}
ul.menu-mb li:hover {
    border-bottom: 2px solid #ea006f;
}
.myButton.layout-humburger {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}
.layout-web .myButton {
    display: none;
}
.layout-humburger {
    width: 100%;
}
.hamburger-button {
    display: none;
}
.list-title .list-title-mobile h2 {
    color: #2b2e34;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}
ul.icon li a {
    display: block;
    height: 42px;
}
.list-title-mobile span {
    line-height: 43px;
    display: none;
}
span.material-symbols-outlined {
    font-weight: 200;
    color: #2b2e34;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}
.clicked {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f8f7f7;
}
.clicked a {
    display: block;
    height: 55px;
    width: 55px;
}
.clicked span.material-symbols-outlined {
    padding: 15px 0 0 15px;
}
.payment-icon {
    margin: 0 -3px;
}
.payment-icon .icon {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.payment-icon ul li {
    padding: 0 3px 6px 3px;
    box-sizing: border-box;
}
li.search-icon {
    margin-left: -26px;
}
.copyright {
    padding-bottom: 30px;
}
.categories h2 {
    color: #2b2e34;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.5px;
}
ul.wrap-list-cat li a img {
    border-radius: 15px;
}
ul.wrap-list-cat p {
    padding-top: 7px;
    color: #2B2E34;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.3px;
}
.wrap-list-cat li a {
    display: block;
}
.box-categories {
    width: 110px;
    text-align: center;
}
.footer-main {
    max-width: 100%;
    background-color: #f8f7f7;
}
.footer-content {
    flex: 1;
    flex-shrink: 1;
}
button.icon {
    border: none;
    background: transparent;
}
.layuot-hamburger {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.box-categories img {
    border-radius: 15px;
}
.product-box {
    width: 25%;
}
.layout-product-detail {
    width: 100%;
}
.new-productDetail {
    width: 100%;
}
.wrap-newProduct {
    width: 100%;
}
.content-main-donna {
    background-color: #F8F7F7;
    border-radius: 20px;
}
.layout-newProduct h2{
    color: #2B2E34;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.5px;
}
.new-productSeller {
    margin: 0 -4px;
}
.productseller-item {
    padding: 0 4px;
}
.productseller-item img {
    border-radius: 10%;
}
.new-product-content {
    width: 100%;
    padding-bottom: 65px;
}
.slider-donna {
    margin-top: -9px;
    width: 100%;
}
.slider-donna img.mobile {
    display: none;
}
.slider-donna h1 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.donna-slider {
    text-align: right;
    bottom: 0;
    color: white;
}
.donna-slider button {
    width: 212px;
    height: 42px;
    border-radius: 15px;
    background-color: #2B2E34;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}
.buy-color {
    border-radius: 20px;
    background: #F8F7F7;
    height: 491px;
}
.bg-item-buycolor {
    width: 360px;
}
.bg-item-buycolor img {
    max-width: 420px;
    height: auto;
    /* display: none; */
    /* height: 360px; */
}
.background-human {
    top: 0;
    left: 0;
}
img.background-human {
    width: 300px;
    height: auto;
    top: 57px;
    left: 40%;
}
.list-category {
    margin: 0 -7px;
}
ul.wrap-list-cat li {
    padding: 0 7px;
}
.slider-donna .overlay {
    display: none;
}
.donna-slider p{
    padding: 3px 0 8px 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.donna-slider h1 span{
    padding-right: 7px;
}
.donna-slider h1 br {
    display: block;
}
.main-donna-page h1 {
    text-align: start;
    color: #2B2E34;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.5px;
}
main.layout-web {
    width: 100%;
}
.wrap-content-seller {
    width: 100%;
}
.layout-item {
    position: relative;
}
.layout-item::before {
    content: url('../img/star_icon.png');
    position: absolute;
    right: 15px;
    top: 15px;
    color: #e8e8e8;
    cursor: pointer;
}
.layout-item::after {
    content: 'NEW';
    position: absolute;
    bottom: 23px;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 900;
    line-height: 29px;
    text-transform: uppercase;
    width: 45px;
    height: 29px;
    background-color: #EA006F;
    border-radius: 8px 0px 0 8px;
}
/* .layout-item:hover::before {
     */
/* } */
.layout-item img {
    border-radius: 20px;
}
.new-products {
    margin: 0 -7px;
}
.slick-initialized .slick-slide {
    display: block;
    padding: 0 7px;
}
.price-product {
    display: flex;
    justify-content: space-between;
}
.wrap-content-buyclor {
    width: 100%;
}

.description-product p{
    padding-top: 10px;
    color: rgba(43, 46, 52, 0.50);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 127.273% */
}
.price-product p.price {
    padding: 2px 0 0 0;
    color: #2B2E34;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 181.818% */
    letter-spacing: 0.236px;
}
.price-product span {
    font-family: 'Roboto',sans-serif;
    color: rgba(43, 46, 52, 0.50);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 145.455% */
}
.title-buy-product {
    height: 21px;
}
p.title-col1 {
    height: 28px;
}
.option-product select {
    width: 90px;
    height: 26px;
    border-radius: 10px;
    border: 1px solid #2B2E34;
    opacity: 0.5;
    color: #2B2E34;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    background-color: #FFF;
}
.option-product button {
    background-color: #FFF;
    width: 90px;
    height: 26px;
    border-radius: 10px;
    border: 1px solid #2B2E34;
    opacity: 0.5;
    color: #2B2E34;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
} 
.option-product select {
    margin-right: 5px;
}
.title-buy-product p {
    padding: 3px 0 6px 0 ;
    color: #EA006F;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px; /* 150% */
    letter-spacing: 0.171px;
    text-transform: uppercase;
}
button.buy-card {
    border: none;
    background-color: #2B2E34;
    border-radius: 15px;
    width: 226px;
    height: 42px;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
}
.option-product {
    display: flex;
}
.categories {
    padding-top: 45px;
}
.category-main {
    padding: 0 7px;
}
.category-main h1 {
    padding-bottom: 22px;
}
ul.wrap-list-cat.flex.flex-wrap {
    padding: 0 7px;
}
.new-products {
    padding-top: 40px;
}
.new-product-content h1 {
    padding: 0 7px 27px 7px;
}
section.best-seller {
    padding-top: 35px;
    padding-bottom: 50px;
}
section.best-seller h1 {
    padding-bottom: 27px;
}
.progress {
    display: block;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
    
    background-color: #f5f5f5;
    background-image: linear-gradient(to right, black, black);
    background-repeat: no-repeat;
    background-size: 0 100%;
    
    transition: background-size .4s ease-in-out;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
@media (max-width: 767px) {
    .wrapper {
        padding-top: 123px;
    }
    .header-top {
        padding: 0 16px;
    }
    .box {
        width: 100%;
        margin: 0;
    }
    .flex-col-1 {
        flex: initial;
    }
    .nav-bar {
        height: 33px;
        width: 100%;
    }
    .overview-content {
        text-align: left;
        padding: 0 15px 43px 15px;
    }
    .banner-footer img.desktop {
        display: none;
    }
    .banner-footer img.mobile {
        display: none;
    }
    .banner-footer img.mobile-tablet {
        display: block;
        width: 100%;
    }
    .overview-content .text p {
        margin: 0;
        width: 100%;
    }
    .banner-footer {
        width: 100%;
    }
    .footer-content {
        padding: 26px 16px 0 16px;
        width: 100%;
    }
    .banner-content {
        flex-wrap: wrap;
    }
    .banner-footer .title-banner {
        left: 0;
        width: 60%;
        padding: 0 0 25px 17px;
    }
    .title-banner {
        text-align: left;
    }
    .nav-bar {
        display: none;
    }
    .nav-bar-menu-mb {
        display: block;
    }
    .search-bar {
        display: none;
    }
    .header-bottom-content {
        padding: 0 16px;
    }
    .introduce {
        padding-top: 24px;
        padding-bottom: 30px;
    }
    h1.title {
        margin-bottom: 3px;
    }
    .list-payment.flex {
        display: inherit;
    }
    .hamburger-button {
        width: 100%;
        box-sizing: border-box;
        height: 20px;
        display: block;
        margin-right: 11.5px;
    }
    .hamburger-button a img {
        width: 20px;
        height: 20px;
    }
    .logo {
        display: flex;
    }
    .fa-navicon:before,
    .fa-reorder:before,
    .fa-bars:before {
        content: '\f0c9';
        width: 20px;
        height: 20px;
    }
    ul.btn-menu {
        display: none;
    }
    .list-title h2 {
        width: 100%;
        font-weight: 400 !important;
        line-height: 43px;
    }
    .list-title-mobile {
        display: flex;
        border-bottom: 1px solid #e8e8e8;
        height: 42px;
    }
    .list-title-mobile span {
        line-height: 43px;
        display: block;
    }
    .list-title-mobile a {
        text-decoration: none;
        color: #2b2e34;
    }
    .header-bottom {
        height: 56px;
    }
    .hamburger-button i {
        height: 20px;
        width: 20px;
        font-size: 20px;
        color: #2b2e34;
        box-sizing: border-box;
    }
    .img-ft {
        padding-top: 80px;
    }
    .logo-home img {
        width: 140px;
    }
    .copyright {
        padding-top: 62px;
        width: 170px;
        /* padding-right: 175px; */
    }
    .img-ft {
        padding-top: 68px;
        padding-bottom: 30px;
    }
    .grid-layout {
        flex-wrap: wrap;
    }
    .list-payment {
        margin-top: 10px;
        border-top: 1px solid #e8e8e8;
    }
    .slider-donna img.desktop {
        display: none;
    }
    .slider-donna img.mobile {
        display: block;
    }
    .donna-slider {
        text-align: center;
        padding-bottom: 36px;
        left: 50%;
        transform: translate(-50%);
    }
    .slider-donna .overlay {
        display: block;
    }
    .donna-slider h1 br {
        display: none;
    }
    .main .main-content {
        padding: 0 16px;
    }
    .main-donna-page h1 {
        text-align: start;
        padding-bottom: 18px;
    }
    .categories {
        padding-top: 16px;
    }
    .category-main h1 {
        padding-bottom: 16px;
    }
    .category-main {
        padding: 0px;
    }
    ul.wrap-list-cat.flex.flex-wrap {
        padding: 0px;
    }
    .new-products {
        padding-top: 20px;
    }
    .price-product {
        display: inherit;
    }
    section.best-seller h1 {
        padding-bottom: 18px;
    }
    .title-buy-product {
        height: 21px;
    }
    .title-buycolor h1{
        text-align: center;
    }
    .title-buycolor p {
        text-align: center;
    }
    .buy-color {
        background-color: #FFF;
    }
}
@media (min-width: 768px) and (max-width: 1123px) {
    .grid-layout {
        flex-wrap: wrap;
    }
    .nav-bar {
        display: none;
    }
    .nav-bar-menu-mb {
        display: block;
    }
    .search-bar {
        display: block;
    }
    .icon-bar .search-icon {
        display: none;
    }
    .main-content {
        padding: 0 20px;
    }
    .header-bottom-content {
        padding: 0 20px;
    }
    .banner-footer {
        width: 100%;
    }
    .banner-footer img.desktop {
        display: none;
    }
    .banner-footer img.mobile-tablet {
        display: block;
    }
    .banner-footer .title-banner {
        width: 50%;
        text-align: left;
        left: 0;
        padding: 0 0 175px 27px;
    }
    .footer-content {
        width: 100%;
    }
    .wrapper {
        padding-top: 123px;
    }
    .banner-content {
        flex-wrap: wrap;
    }
    .footer-content {
        padding: 25px 20px 0 65px;
        width: 100%;
    }
    .img-ft {
        padding-top: 35px;
        padding-bottom: 30px;
    }
    .list-title .btn-menu {
        display: block !important;
    }
    .list-title .list-title-mobile h2 {
        line-height: 20px;
    }
    .donna-slider {
        text-align: right;
        right: 41px;
        bottom: 159px;
        width: 40%;
    }
    
}
@media (min-width: 1124px) {
    .layout-web {
        max-width: 1440px;
        margin: 0 auto;
    }
    .wrap-footer {
        max-width: 1440px;
    }
    .main-content {
        padding: 0 30px;
    }
    .header-bottom {
        margin: 0 auto;
        max-width: 1440px;
    }
    .header-bottom-content {
        padding: 0 30px;
    }
    .footer-content {
        padding: 25px 30px 0 65px;
    }
    .footer-content-bottom {
        padding: 0;
    }
    .banner-footer {
        width: 503px;
    }
    .banner-footer .title-banner {
        width: 50%;
        padding: 0 17px 77px 0;
    }
    .banner-footer img.mobile {
        display: none;
    }
    .banner-footer img.mobile-tablet {
        display: none;
    }
    .list-title-mobile span {
        display: none;
    }
    .list-title .list-title-mobile h2 {
        line-height: 20px;
    }
    .icon-bar .search-icon {
        display: none;
    }
    .img-ft {
        padding-top: 39px;
        padding-bottom: 38.51px;
    }
    .list-title .btn-menu {
        display: block !important;
    }
    .donna-slider {
        right: 125px;
        bottom: 232px;
        width: 21%;
    }
    .donna-slider h1 span{
        padding-right: 7px;
    }
    .donna-slider h1 br {
        display: block;
    }
    .main-donna-page h1 {
        text-align: center;
    }
}
@media (max-width: 480px) {
    .payment-icon ul li {
        width: 25%;
    }
    ul.wrap-list-cat.flex.flex-wrap li {
        width: 25%;
        box-sizing: border-box;
    }
}