* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 181.818% */
    color: #2B2E34;
}
a {
    display: block;
    font-family: 'Roboto', sans-serif;
}
img {
    width: 100%;
    height: auto;
}
/* ------------------------------------------------------------------------------------------------  Header ------------------------------------------------------------------------------------------------ */
header.layout-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.wrap-layout-header {
    background-color: #FFF;
}
.header-content-top {
    height: 20px;
    width: 100%;
    text-align: center;
    background-color: #2B2E34;
    padding: 4px 0;
}
.header-content-top p {
    color: #FFF;
}
.header-content-top p b {
    text-decoration: underline;
}
.header-mid-left-wrap {
    display: flex;
    padding-top: 18px;
}
.header-content-mid {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}
.header-mid-right {
    flex: 1;
}
.logo-img img {
    width: 139.875px;
        height: 23.73px;
}

ul.list-menu {
    width: 100%;
    box-sizing: border-box;
}
ul.list-menu li {
    display: inline-block;
    padding: 4px 10px 3px 10px;
    box-sizing: border-box;
    margin: 0 7px;
}
ul.list-menu li a {
    color: #2B2E34;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
}
ul.list-menu li:hover {
    border-bottom: 2px solid #EA006F;
    width: auto;

}ul.list-menu li a:hover {
    font-weight: 700;
}
/* mobile */
ul.list-menu-mb {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
ul.list-menu-mb li {
    width: 33.333%;
    text-align: center;
    padding: 6px 0px 7px 0;
}
.menu ul li a {
    color: #2B2E34;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
}
.menu ul li:hover {
    border-bottom: 2px solid #EA006F;
}
.menu ul li a:hover {
    font-weight: 700;
}
/*  */
section.header-content-mid {
    padding-bottom: 11px;
}
.logo {
    width: 139.875px;
    height: 23.73px;
    padding: 0;
    margin-right: 33px;
    display: flex;
}
.icon-bar ul {
    display: flex;
}
.icon-bar .search-icon {
    display: none;
}
a.btn-hamburger {
    margin-right: 11px;
    display: none;
}
a.btn-hamburger img{
    display: block;
    width: 20px;
    height: 18.787px;
}
.wrap-menu-mobile .menu {
    display: none;
}
@media (max-width: 480px) {
    .icon-bar .search-icon {
        display: block;
    }
}
@media (max-width: 767px) {
    .header-content-mid {
        padding: 0 15px;
    }
    .payment-content-1 {
        padding-bottom: 8px;
    }
}
@media (max-width: 850px) {
    .header-mid-left-wrap .menu {
        display: none;
    }
    .wrap-menu-mobile .menu {
        display: block;
    }
    section.header-content-mid {
        border-bottom: 1px solid #E8E8E8;
    }
    a.btn-hamburger {
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 1123px) {
    .header-content-mid {
        padding: 0 20px;
    }
}
@media (min-width: 1124px) {
    section.header-content-mid {
        padding-right: 30px;
        padding-left: 30px;
    }
}